@model ShopVM


@section Links{

    <link rel="stylesheet" href="~/assets/css/shoes/shoes.css">
    <title>Shop</title>
}


@{
    ViewData["Title"] = "Shops";
    int? sumOfProductsCountByColor = 0;
    int? sumOfProductsCountByBrand = 0;
    int? sumOfProductsCountBySize = 0;
}
<main>

    <section id="top-column-content">
        <div class="column-content">
            <div class="title">
                <h2>Products</h2>
            </div>
            <div class="choose">
                <a asp-controller="Home" asp-action="Index">Home |</a>
                <span>Shoes</span>
            </div>
        </div>
    </section>

    <section id="shoes-main" class="mt-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="side-bar">
                        <div class="product-categorie">
                            <div class="title-categorie">
                                <h4>Shop By Categories</h4>
                            </div>
                            <div class="sidebar-body">
                                <ul class="categorie-list">
                                    <li><a asp-controller="Shop" asp-action="Index" class="all" style="cursor:pointer;">All</a></li>
                                    @foreach (var item in Model.SubCategories)
                                    {
                                        <li>
                                            <a style="cursor:pointer" class="sub-category" data-id="@item.Id">@item.Name</a>
                                        </li>
                                    }
                                </ul>

                            </div>
                        </div>
                        <div class="line"></div>
                            <div class="product-price">
                            <form id="filterForm" method="get" asp-controller="Shop" asp-action="Index">
                                <div class="price-title">
                                    <h3>Filter By Price</h3>
                                </div>
                                <div class="price-filter">
                                    <div class="card">
                                        <div class="price-content">
                                            <div>
                                                <label>Min</label>
                                                <p id="min-value">50</p>
                                            </div>

                                            <div>
                                                <label>Max</label>
                                                <p id="max-value">500</p>
                                            </div>
                                        </div>

                                        <div class="range-slider">
                                            <input type="range" class="min-price" value="100" min="10" max="500"
                                                   step="10">
                                            <input type="range" class="max-price" value="250" min="10" max="500"
                                                   step="10">
                                        </div>
                                        <button style="border: 1px solid orange;" type="submit">FILTER</button>
                                    </div>
                                </div>

                                

                                </form>

                            </div>

                        <div class="product-color">
                            <div class="tags-title">
                                <h3>Brand</h3>
                            </div>
                            <div class="sidebar-body">
                                <ul>
                                    @foreach (var brand in Model.Brands)
                                    {
                                        <li>
                                            <a style="cursor:pointer" class="brand" data-id="@brand.Id">@brand.Name (@brand.Products?.Count())</a>
                                        </li>
                                    }
                                </ul>
                            </div>


                        </div>

                        <div class="product-color">
                            <div class="tags-title">
                                <h3>Color</h3>
                            </div>
                            <div class="sidebar-body">
                                <ul>
                                    <li>
                                        <a href="#">
                                            All
                                            @foreach (var color in Model.Colors)
                                            {
                                                sumOfProductsCountByColor += color.ProductColors?.Count();
                                            }
                                            <span> (@sumOfProductsCountByColor)</span>

                                        </a>
                                    </li>
                                    @foreach (var colors in Model.Colors)
                                    {
                                        <li>
                                            <a style="cursor:pointer" class="color" data-id="@colors.Id">
                                                @colors.Name <span> (@colors.ProductColors?.Count())</span>
                                            </a>
                                        </li>
                                    }



                                </ul>
                            </div>


                        </div>


                        <div class="product-sale-banner d-lg-block d-none">
                            <a href="">
                                <img src="~/assets/img/shoes/pro-sale.jpg" alt="">
                            </a>
                        </div>

                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="product-shops">
                        <div class="page-width collection-filters">
                            <select id="sort" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                                <option value="1" selected>Sort by Default</option>
                                <option value="2">Sort by Rated</option>
                                <option value="3">Sort by Latest</option>
                                <option value="4">Sort By High Price</option>
                                <option value="5">Sort By Low Price</option>
                            </select>
                        </div>

                        <div class="product-carts">
                            <div class="row pro-list">
                                <partial name="_ProductListPartial" model="Model.PaginateDatas" />
                            </div>


                        </div>
                        <div class="mini-modal">
                            <div class="product-modal d-none">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="img">
                                                <img src="" alt="">
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="delete-icon">
                                                <a href=""><i class="fa-solid fa-xmark"></i></a>
                                            </div>
                                            <div class="prod-tittle">
                                                <h2>Wild Taps Sneakers</h2>

                                            </div>
                                            <div class="price-discount">
                                                <div class="discount">
                                                    <del></del>
                                                </div>
                                                <div class="pro-price">
                                                    <p></p>
                                                </div>
                                            </div>

                                            <div class="border">
                                            </div>
                                            <div class="text3">
                                                <p></p>
                                            </div>
                                            <div class="pro-description">
                                                <p>
                                                    Stylish and comfortable this printed chemise is designed with
                                                    short sleeves
                                                    and a round neckline. Elegant and comfy, this embroidered
                                                    A-line dress which has a round neck, and three-
                                                </p>
                                            </div>

                                            <div class="pro-category">
                                                <div class="category-name">
                                                    <span class="type">Type</span>
                                                    <span class="type-name">
                                                        : sandal
                                                    </span>
                                                </div>

                                                <div class="vendor-name">
                                                    <span class="type">Vendor</span>
                                                    <span class="type-name">
                                                        : Nike
                                                    </span>
                                                </div>
                                                <div class="sku-name">
                                                    <span class="type">SKU</span>
                                                    <span class="type-name">
                                                        : AP-888
                                                    </span>
                                                </div>

                                                <div class="category-name">
                                                    <span class="type">Size</span>
                                                    <select id="size">
                                                        <option value="39">36</option>
                                                        <option value="37">37</option>
                                                        <option value="38">38</option>
                                                        <option value="39">39</option>
                                                        <option value="40">40</option>
                                                        <option value="41">41</option>
                                                        <option value="42">42</option>
                                                        <option value="43">43</option>
                                                        <option value="44">44</option>
                                                    </select>

                                                </div>

                                                <div class="input-icon">
                                                    <div class="inputs">
                                                        <div class="number">
                                                            <span class="minus">-</span>
                                                            <input type="text" value="1" />
                                                            <span class="plus">+</span>
                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="box">
                                                    <button class="button">
                                                        <span>Add To Cart</span>
                                                    </button>
                                                </div>

                                                <div class="prod-detail">
                                                    <a href="">View Full Product Details</a>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
    </section>


</main>


@section Script{

    <script src="~/assets/js/shoes.js"></script>
    }

