@model ContactVM
@inject ILayoutService layout;
@inject UserManager<AppUser> userManager;


@section Links{

    <link rel="stylesheet" href="~/assets/css/contact/contact.css">
    <title>Contact</title>
}



@{
    ViewData["Title"] = "Index";
}

<main>
    <section id="top-column-content">
        <div class="column-content">
            <div class="title">
                <h2>Contact</h2>
            </div>
            <div class="choose">
                <a asp-controller="Home" asp-action="Index">Home |</a>
                <span>Contact</span>
            </div>
        </div>
    </section>


    <section id="contact-text">
        <div class="container">

            <div class="main-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12157.71469426235!2d49.8539455!3d40.3771909!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40307d079efb5163%3A0xc20aa51a5f0b5e01!2sCode%20Academy!5e0!3m2!1sen!2saz!4v1678091752642!5m2!1sen!2saz"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>

                <div class="title-text">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="contact-message">
                                <h2 class="contact-title">Tell us your project</h2>
                                @if (User.Identity.IsAuthenticated)
                                {

                                    <form id="contact-form"
                                      class="contact-form" method="post" asp-action="PostComment">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6">
                                                <input name="firstName"
                                                   placeholder="Name *"
                                                   type="text"
                                                   asp-for="FirstName"
                                                   required=""
                                                   value="@userManager.Users.FirstOrDefault(u=>u.UserName==User.Identity.Name).FirstName">
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6">
                                                <input name="phone" 
                                                       placeholder="Phone *" 
                                                       type="text" 
                                                       required=""
                                                      asp-for="Phone">
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6">
                                                <input name="email" 
                                                       placeholder="Email *" 
                                                       type="text"
                                                       asp-for="Email"
                                                       required=""
                                                        value="@userManager.Users.FirstOrDefault(u=>u.UserName==User.Identity.Name).Email">
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6">
                                                <input name="first_name" 
                                                       placeholder="Subject *" 
                                                       type="text"
                                                   asp-for="Subject"
                                                       required=""
                                                       value="">
                                            </div>
                                            <div class="col-12">
                                                <div class="contact2-textarea text-center">
                                                    <textarea placeholder="Message *" 
                                                              name="message"
                                                              class="form-control2"
                                                              asp-for="Message">
                                                     </textarea>
                                                </div>
                                                <div class="contact-btn">
                                                    <button class="btn" type="submit">Send Message</button>
                                                </div>
                                            </div>
                                            <div class="col-12 d-flex justify-content-center">
                                                <p class="form-messege"></p>
                                            </div>
                                        </div>
                                    </form>

                                }else
                                {
                                    <form  method="post" asp-action="PostComment" >
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6">
                                                <input name="firstName"
                                                   placeholder="Name *"
                                                   type="text"
                                                   required=""
                                                   asp-for="FirstName">
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6">
                                                <input name="phone" 
                                                    placeholder="Phone *" 
                                                    type="text" 
                                                    required=""
                                                   asp-for="Phone">
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6">
                                                <input name="email"
                                                    placeholder="Email *" 
                                                    type="text"
                                                   asp-for="Email"
                                                    required="">
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6">
                                                <input name="first_name" 
                                                    placeholder="Subject *"
                                                   asp-for="Subject"
                                                    type="text" 
                                                    required="">
                                            </div>
                                            <div class="col-12">
                                                <div class="contact2-textarea text-center">
                                                    <textarea placeholder="Message *" asp-for="Message" name="message"
                                                          class="form-control2"></textarea>
                                                </div>
                                                <div class="contact-btn">
                                                    <button class="btn" type="submit">Send Message</button>
                                                </div>
                                            </div>
                                            <div class="col-12 d-flex justify-content-center">
                                                <p class="form-messege"></p>
                                            </div>
                                        </div>
                                    </form>
                                }
                               

                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="contact-info pt-0">
                                <h2 class="contact-title">contact us</h2>
                                <p>
                                    Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum
                                    est notare quam littera gothica, quam nunc putamus parum claram anteposuerit litterarum
                                    formas human.
                                </p>
                                <ul>
                                    <li><i class="fa fa-fax"></i> Address : @layout.GetSettings()["addres"]</li>
                                    <li><i class="fa fa-phone"></i>@layout.GetSettings()["Mobil"] </li>
                                    <li><i class="fa fa-envelope-o"></i> @layout.GetSettings()["gmail"] </li>
                                </ul>
                                <div class="working-time">
                                    <h3>Working Hours</h3>
                                    <p class="pb-0"><span>Monday – Saturday:</span>08AM – 22PM</p>
                                </div>
                            </div>
                        </div>

                    </div>



                </div>

            </div>

        </div>

    </section>
</main>

@section Script{

    <script src="~/assets/js/contact.js"></script>
  }