@model IEnumerable<HomeCategory>
@{
    ViewData["Title"] = "Index";
}
@section Css{
    <link rel="stylesheet" href="~/admin/assets/css/index.css">
}
<section class="pcoded-main-container">
    <div class="pcoded-content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    @* @if (User.IsInRole("SuperAdmin"))
                    {*@
                    <div class="card-header">
                        <a style="display:flex;align-items:center;justify-content:space-between;" asp-action="Create" data-toggle="tooltip" data-original-title="Create" class="create"><i class="fa-solid fa-folder-plus fa-lg" style="color: red;display:flex;justify-content:flex-end"></i>Create</a>
                    </div>
                    @*}*@
                    <div class="card-body table-border-style">
                        <div class="table-responsive">

                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Image</th>
                                        <th>Name</th>
                                        <th>Options</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var homeCategory in Model)
                                    {
                                        <tr data-id="@homeCategory.Id">
                                            <td>
                                                <div class="image">
                                                    <img class="img-fluid" src="~/assets/img/home/categoryImg/@homeCategory.Image" />
                                                </div>
                                            </td>
                                            <td style="font-weight:800">@homeCategory.Name</td>
                                            <td style="display:flex;gap:7px;">
                                                <a class="btn btn-outline-info" asp-action="Detail" asp-route-id="@homeCategory.Id">Info</a>
                                                <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@homeCategory.Id">Edit</a>
                                                <form asp-action="Delete" method="post" asp-route-id="@homeCategory.Id">
                                                    <button type="submit" class="btn btn-outline-danger">Delete</button>
                                                </form>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



