@model List<Blog>




@foreach (var item in Model)
{
    <div class="col-lg-4 col-md-6">
        <div class="blog-card">
            <div class="blog-img">
                <a asp-controller="Blog" asp-action="BlogDetails" asp-route-id="@item.Id"><img src="~/assets/img/home/Blog/@item.Image" alt=""></a>
            </div>
            <div class="create-time">
                <span>@item.CreatedDate.ToString("dd MMMM yyyy")</span>
            </div>
            <div class="blog-title">
                <a href="">@item.Title...</a>
            </div>
            <div class="blog-description">
                <p>
                    @item.Description.Substring(0,15)...
                </p>
            </div>
            <div class="blog-button">
                <a asp-controller="Blog" asp-action="BlogDetails" asp-route-id="@item.Id">READ MORE</a>
            </div>

        </div>

    </div>
}



