@model Paginate<ProductVM>

 @foreach (var product in Model.Datas)
{
    <div class="col-lg-4 col-md-6">
        <div class="card" data-id="@product.Id" style="width: 18rem;">
            <div class="produc-imgs">
                <a asp-controller="Shop" asp-action="ProductDetail" asp-route-id="@product.Id">
                   <img src="~/assets/img/shoes/product-img/@product.ProductImages.Where(p=>p.IsMain).FirstOrDefault().ImgName" class="card-img-top basic" alt="...">
                    <img src="~/assets/img/shoes/product-img/@product.ProductImages.Where(p=>p.IsHover).FirstOrDefault().ImgName" class="card-img-top top" alt="...">
                </a>
           
            </div>
            <div class="discount">
                <span class="badge">sale</span>
            </div>

            <div class="product-hover d-flex">
                @if (User.Identity.IsAuthenticated)
                {
                    <button type="submit">
                        <a class="add-to-wishlist-btn" data-id="@product.Id">
                            <i class="fa-regular fa-bookmark"></i>
                        </a>
                    </button>
                }
                else
                {
                    <button type="submit" data-id="@product.Id">
                        <a asp-controller="Account" asp-action="Login">
                            <i class="fa-regular fa-bookmark"></i>
                        </a>
                    </button>
                }
                <button type="submit" class="d-lg-block d-none">
                    <i class="fa-regular fa-eye"></i>
                </button>
                @if (User.Identity.IsAuthenticated)
                {
                    <button type="submit">
                        <a class="add-to-cart-btn" data-id="@product.Id">
                            <i class="bi bi-bag"></i>
                        </a>
                    </button>
                }
                else
                {
                    <button type="submit">
                        <a asp-controller="Account" asp-action="Login">
                            <i class="bi bi-bag"></i>
                        </a>
                    </button>
                }
            </div>
            <div class="star-product">
                @for (int i = 0; i < product.Rating; i++)
                {
                    <i class="bi bi-star-fill"></i>
                }
                @for (int c = 0; c < 5 - product.Rating; c++)
                {
                    <i class="bi bi-star"></i>
                }
            </div>
            <div class="card-body">
                <a href="~/product-details.html">
                    <p>@product.Name</p>
                </a>
                <p class="card-text price"> <span>$</span>@product.DiscountPrice</p>
                <del>$@product.Price</del>
            </div>
        </div>
    </div>
}

<div class="pagination-shoes">
    <nav class="pagination-container">
        <div class="pagination">

            <span class="pagination-inner">

                <a class="pagination-older @(Model.HasPrevious ? " " : "d-none")" class="page-link" asp-action="Index" asp-route-categoryId="@ViewBag.catId" asp-route-categoryId="@ViewBag.subCatId" asp-route-tagId="@ViewBag.brandId" asp-route-colorId="@ViewBag.colorId" asp-route-page="@(Model.CurrentPage - 1)">PREV</a>
                @for (int i = 1; i <= Model.TotalPage; i++)
                {
                    <a class="page-link @(Model.CurrentPage == i ? "disabled" : "")" asp-action="Index" asp-route-categoryId="@ViewBag.catId" asp-route-categoryId="@ViewBag.subCatId" asp-route-tagId="@ViewBag.brandId" asp-route-colorId="@ViewBag.colorId" asp-route-page="@i">@i</a>

                }
             
            </span>
            <a class="pagination-older @(Model.HasNext ? " " : "d-none")" class="page-link" asp-action="Index" asp-route-categoryId="@ViewBag.catId" asp-route-categoryId="@ViewBag.subCatId" asp-route-tagId="@ViewBag.brandId" asp-route-colorId="@ViewBag.colorId" asp-route-page="@(Model.CurrentPage + 1)">NEXT</a>
        </div>
    </nav>
</div>
