@model ProductDetailsVM
@{
    ViewData["Title"] = "Detail";
}
@section Css{
    <link rel="stylesheet" href="~/admin/assets/css/index.css">

}
<section class="pcoded-main-container">
    <div class="pcoded-content">
        <div class="row">
            <div class="col-12">
                <div class="d-flex align-items-center images">
                    @foreach (var item in Model.Images)
                    {
                        <div style="width:200px; margin-right:10px;" data-id="@item.Id">
                            <img class="img-fluid" src="~/assets/img/shoes/product-img/@item.ImgName" />
                            <div class=" d-flex align-items-center justify-content-center" data-id="@item.Id">
                               
                            </div>
                        </div>
                    }


                </div>
                <div class="images" style="text-align:center">
                    <h4>Video</h4>
                    <video class="secondary-img" playsineline="" loop="" muted="" autoplay=""
                          
                           src="@Model.Video"
                           type="video/mp4" style="width:200px;height:200px"></video>
                </div>

               

                <span class="text-danger">@ViewBag.error</span>
                <form asp-action="Detail">
                    <span class="text-danger">@ViewBag.error</span>
                    <div class="form-group">
                        <label>SKU</label>
                        <input disabled class="form-control" asp-for="SKU">
                    </div>
                    <div class="form-group">
                        <label>Title</label>
                        <input disabled class="form-control" asp-for="Name">
                    </div>
                    <div class="form-group">
                        <label>DiscountPrice</label>
                        <input disabled class="form-control" asp-for="DiscountPrice">
                    </div>
                    <div class="form-group">
                        <label>Stock Count</label>
                        <input disabled class="form-control" asp-for="StockCount">
                    </div>
                    <div class="form-group">
                        <label>Sale Count</label>
                        <input disabled class="form-control" asp-for="SaleCount" type="number" />
                    </div>
                    <div class="form-group">
                        <label>Rating</label>
                        <div class="rating-box">
                            <ul style="display:flex;list-style:none;padding:0px">
                                @for (int i = 0; i < Model.Rating; i++)
                                {
                                    <li><i class="fa fa-star" style="color: #ffe24d;"></i></li>
                                }
                                @for (int i = 0; i < 5 - Model.Rating; i++)
                                {
                                    <li><i class="fa fa-star" style="color:darkgrey"></i></li>
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Brand Name</label>
                        <input disabled class="form-control" asp-for="@Model.BrandName">
                    </div>
                    <div class="form-group">
                        <label>Category Name</label>
                        <input disabled class="form-control" asp-for="@Model.CategoryNames">
                    </div>
                    <div class="form-group">
                        <label>SubCategory Name</label>
                        <input disabled class="form-control" asp-for="@Model.SubCategoryNames">
                    </div>
                    <div class="form-group">
                        <label>Color Name</label>
                        <input disabled class="form-control" value="@string.Join(",", Model.ColorNames.Select(pc=>pc.Color.Name))">
                    </div>
                    <div class="form-group">
                        <label>Size Name</label>
                        <input disabled class="form-control" value="@string.Join(",", Model.SizeNames.Select(pc=>pc.Size.Number))">
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea disabled class="form-control" rows="3" asp-for="Description"></textarea>
                    </div>
                    <a asp-action="Index" style="background-color:red" class="btn btn-danger"><i class="fa-solid fa-backward"></i>  Cancel</a>
                </form>
            </div>
        </div>
    </div>
</section>


